@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
}

#background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}


.header-container {
  width: 100%; 
  height: auto; 
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: transparent;
  padding: 5px 0;
  position: relative;

}

.logo-container {
  max-width: 150px;
  padding-left: 10px; 
  margin-top: 45px;
  margin-bottom: 20px;
  margin-left: 120px;
}

.logo {
  width: 100%;
  height: auto;

}

.main-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  flex-wrap: nowrap;
  min-width: 800px;
  transition: margin 0.3s ease;
  }
  
.nav-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 220px;
}

.nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.left-nav, .right-nav {
  height: auto;
  background-color: rgba(0, 0, 128, 0.5);
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 400px;
  padding-top: 50px;
  padding-bottom: 40px;
  width: 350px;
  overflow: auto;
  color: white;
  text-align: center;
}

h2 {
  font-size: 1.5rem; 
  font-weight: bold;
}

ul {
  list-style-type: none; 
  padding: 0;
}

li {
  margin: 10px 0;
}

li:hover {
  transform: scale(1.1);
  font-weight: bold;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: lightgray;
}

.active {
  font-weight: bold;
}

a:focus {
  outline: none;
}

.test-container {
  background-color: rgba(173, 216, 230, 0.7);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  min-height:900px;
  margin: 20px auto; 
}

.data-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.data-info h2 {
  font-size: 1.5rem;
  font-style: italic;
  margin-bottom: 2px;
}

.data-info p {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  flex-direction: column; 
  align-items: center;
  gap: 20px;
}

.input-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

.custom-input {
  width: 100%;
  max-width: 800px;
  height: 30px;
  padding: 20px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.input-label {
  font-size: 20px;
  text-align: center;
  padding-top: 10px; 
}

.result-icon {
  margin-right: 10px; 
  font-size: 24px;
}

.hidden {
  display: none;
}

.icon {
  display: none;
}

@keyframes fadeBorder {
  0% {
    border-color: red;
  }
  100% {
    border-color: #ccc; 
  }
}

@keyframes shake {
  0%, 100% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
}

.input-error {
  border: 2px solid red;
  animation: shake 0.3s, fadeBorder 1s forwards;
}

.custom-input::placeholder {
  font-size: 0.875rem;
  color: #888;
}

.mobile-message {
  display: none;
}

/* Default state: Hide the mobile message */
.mobile-message {
  display: none;
}

@media (max-width: 480px) {
  .main-container {
    display: none; 
  }
  .mobile-message {
    display: block;
    font-size: 1.5rem;
    color: #333;
    text-align: center;
    padding: 20px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 90%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .left-nav, .right-nav {
    display: none;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .left-nav, .right-nav {
    display: none;
  }

  .logo {
    display: none;
  }

  .test-container {
    width: 80%; 
    max-width: 550px;
    min-height: 550px;
    margin-top: 30px;
    margin-bottom: 50px;
    margin-left: 50px; 
    margin-right: 350px;
    padding-bottom: -50px;
  }

.icon {
  display: block;
  position: fixed;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 75px;
  height: 70px;
  z-index: 999;
}


.custom-input {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    font-size: 16px;
  }

  .data-info h2 {
    font-size: 1rem;
    font-style: italic;
  }
}

@media (min-width: 769px) and (max-width: 1279px) {

  .left-nav, .right-nav, .test-container {
    width: 60%;
    padding: 5px 5px;
  }

  .test-container {
    min-height: 200px;
    margin-top: -150px;
    padding: 20px 15px;
    position: relative;
    overflow: hidden; 
    box-sizing: border-box;
  }

  .input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -80px;
    width: 100%;
  }

  .input-label {
    font-size: 16px;
    margin: 65px 0 -50px;
    width: 100%;
  }

  .custom-input {
    width: 100%; 
    max-width: 100%;
    padding: 10px;
    margin-top: 60px;
    margin-bottom: 100px;
    font-size: 16px;
    box-sizing: border-box;
  }

  .data-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .data-info h2 {
    font-size: 1rem;
    font-style: italic;
    margin-bottom: 0px;
  }

  .data-info p {
    font-size: 0.875rem;
    font-weight: bold;
    margin-bottom: 30px;
  }

  .result-icon {
    margin-top: -30px;
    font-size: 20px;
  }

  .gallery-container {
    position: relative;
    width: 100%;
    max-width: auto;
    height: 200px;
    overflow: hidden;
  }
}

@media (min-width: 1280px) {
  .main-container {
    align-items: center;
  }

  .left-nav, .right-nav, .test-container {
    width: 50%;
    margin-left: 20px;
    margin-right: 20px;
  }

  .test-container {
    min-height: 600px;
    max-width: 550px;
    margin-top: -200px;
    margin-bottom: 250px;
  }
}