---
import { speciesData } from '../utils/SpeciesData.js';
import Slider from './Slider.astro';

const limuDataGroupedByIndex = speciesData.limu;
---

<div>
    <Slider dataGroupedByIndex={limuDataGroupedByIndex} sliderId="limu" />
</div>