---
const studyGuideLinks = [
  { id: 'catalog', label: 'Species Catalog', path: '#catalog' },
  { id: 'taxonomy', label: 'Taxonomy Overview', path: '#taxonomy' },
  { id: 'anatomy', label: 'Marine Anatomy', path: '#anatomy' },
  { id: 'evolution-limu', label: 'Evolution of Limu', path: '#evolution-limu' },
  // { id: 'resources', label: 'Other Resources', path: 'http://uhhmop.hawaii.edu/quest/species.shtml' }
];

const practiceExamLinks = [
  { id: 'fish', label: 'Fishes', path: '#fish' },
  { id: 'invert', label: 'Invertebrates', path: '#invert' },
  { id: 'limu', label: 'Limu', path: '#limu' },
  { id: 'all', label: 'All Species', path: '#all' },
  { id: 'random-100', label: 'Random 100', path: '#random-100' }
];

const { navType } = Astro.props;

const links = navType === 'study' ? studyGuideLinks : practiceExamLinks;
const title = navType === 'study' ? 'Study Guides' : 'Practice Exams';
---

<div class="nav-container">
  <h2>{title}</h2>
  <ul>
    {links.map(link => (
      <li key={link.id}>
        <a 
          href={link.path} 
          target={link.path.startsWith('http') ? '_blank' : '_self'} 
          class=""
        >
          {link.label}
        </a>
      </li>
    ))}
  </ul>
</div>
